*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.item-container {
      display: flex;
      gap: 5px;
      flex-direction: column;
  box-sizing: border-box;
  /* border: 2px solid red; */
  background-color: #fff;
  width: 300px;
  padding: 20px;
}

.item-container img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.item-container img:hover {
  filter: brightness(50%);
  /* transform: scale(1.1); */
}
.item-container h3,
p {
  text-align: center;
  margin-bottom: 4px;
  word-break: break-all;
}

.item-container button{
  /* margin-left: 35%; */
  padding: 7px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

/* for star rating component*/
.star-container svg {
  width: 40px;
  fill: gold;
}

/* navbar */
header {
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  height: 10vh;
}
li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: black;
}
h3 a {
  text-decoration: none;
  color: black;
}

/* newProductElemennt */
.form {
  display: flex;
  justify-content: center;
}
.form input,
textarea,
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}
